@use "fonts.scss";

table {
    @extend .ibm-plex-serif;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-collapse: collapse;

    thead th {
        font-weight: 500;
        font-size: 1.25em;
    }

    td:has(.material-symbols-outlined) {
        padding-inline-start: 0;
        padding-inline-end: 0;
    }

    th:first-child,
    td:first-child {
        padding-inline-start: 0;
    }

    th,
    td {
        @extend .ibm-plex-sans;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        line-height: 400%;
    }

    tr:not(:last-child) td {
        border-bottom: 1px var(--horizontal-rule-color) solid;
        border-top: 1px var(--horizontal-rule-color) solid;
    }

    span.material-symbols-outlined {
        font-weight: 300 !important;
    }
}
