@forward "fonts.scss";
@forward "elements.scss";

%header {
    @extend .ibm-plex-serif;
    font-weight: 600;
    font-size: 2em;
    line-height: 250%;
}

%information {
    @extend .ibm-plex-serif;
    line-height: 125%;
    font-size: 1.25em;
}

%information-header {
    @extend %information;
    font-weight: 400;
}

%clickable:hover {
    text-decoration: underline;
    text-decoration-color: rgb(30, 30, 30);
    text-decoration-thickness: 10%;
}

%clickable {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        text-decoration-color: rgb(30, 30, 30);
        text-decoration-thickness: 10%;
    }
}

%currency-cell {
    text-align: right;
}
