@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

%ibm-plex-serif {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
}

%header {
    @extend %ibm-plex-serif;
    font-weight: 600;
    font-size: 2em;
    line-height: 250%;
}

%information {
    @extend %ibm-plex-serif;
    line-height: 125%;
    font-size: 1.25em;
}

%information-header {
    @extend %information;
    font-weight: 400;
}

%clickable:hover {
    text-decoration: underline;
    text-decoration-color: rgb(30, 30, 30);
    text-decoration-thickness: 10%;
}

%clickable {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        text-decoration-color: rgb(30, 30, 30);
        text-decoration-thickness: 10%;
    }
}

%card-table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    thead tr {
        line-height: 200%;
    }

    thead th {
        font-weight: 500;
        font-size: 1.25em;
    }

    tbody tr {
        line-height: 175%;
    }

    th,
    td {
        @extend %ibm-plex-serif;
        padding-left: 10px;
        padding-right: 10px;
    }
}

%currency-cell {
    text-align: right;
}
